/* bootstrap wrapper */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #777;
  background-color: #fff;
  font-family: 'Nanum Barun Gothic', sans-serif;
}

p {
  /*margin: 0 0 10px;*/
  font-size: 20px;
  line-height: 1.6;
}

nav {
  background-color: transparent !important;
}

.navbar-inverse .navbar-collapse {
  border-color: #fff !important;
}

.section {
  padding: 0 !important;
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.section-body {
  display: table-cell;
  vertical-align: middle;
}

.footer-top {
  background: #323B44;
  border-bottom: 1px solid #414f5a;
  color: #A1A1A1;
  padding: 30px 0;
}

.footer-bottom {
  background: #25292C;
  background: #222;
  color: #888;
  line-height: 30px;
  padding: 15px;
}

.team {
  padding-bottom: 20px;
}

.tooltip-arrow {
  top: initial !important;
}

/* CSS for foodduk */
#hello {
  z-index: -1;
  height: 600px;
  overflow: hidden;
  min-width: 1045px;
  position: relative;

  background: url('http://graphics8.nytimes.com/images/2014/05/13/science/15recipehealth/15recipehealth-articleLarge.jpg') no-repeat;
  background-size: 100%;

}

#about {
  margin-left: auto;
  margin-right: auto;
  padding: 25px !important;
}

.form-inline {
  display: inline !important;
}

#location {
  width: 290px;
}

#category {
  width: 150px;
}

#search-btn {
  padding: 0 30px 0 30px;
  height: 42px !important;
  margin-right: -4px;
  border-radius: 1px !important;
}

.location-wrapper {
  position: relative;
  display: inline-block;
}

.form-input {
  margin-right: -4px;
  border: 1px solid #dce0e0 !important;
  border-radius: 1px !important;
}

.bottom-search-area {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  padding: 30px;
  background: #000;
  background: rgba(0,0,0,0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

div.overlay {
  opacity: .2;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  height: 100%;
  width: 100%;
}
