{% extends 'base.html' %}

{% block content %}
  <section id="hello" class="section" style="color: #fff; background-color: #25d3d2;">
    <div class="overlay"></div>
    <div class="section-body">
      <div class="container">
        <div class="row">
          <h1>푸드덕</h1>
          <p>빅데이터 맛집 검색: 나는 원한다 치킨을</p>
          <hr class="intro-divider">
          <div class="fb-like" data-href="http://pail.unist.ac.kr:8080/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" style="min-height: 30px"></div>
        </div>
      </div>
    </div>
    <div class="bottom-search-area">
      <div class="row">
        <form action="#" id="search_form">
          <div class="location-wrapper">
            <input id="location" name="location" type="text" class="form-input form-inline form-control" autocomplete="off" placeholder="어디에 가고 싶으세요?"><p id="enter_location_error_message" class="bad hide">
                        지역을 설정해 주세요
          </p></div>
          <input type="text" id="category" class="form-input form-inline form-control" name="checkin" placeholder="메뉴">
          <button type="submit" id="search-btn" class="btn btn-info btn-lg form-inline" name="checkin">음식점 검색</button>
        </form>
      </div>
    </div>

  </section>

  <section id="about" class="container section">
    <div class="section-body">
      <div class="container">
        <div class="row">
          <h3>Explore the Food</h3>
          <p><small>See where people are eating, all around the world.</small></p>
        </div>
      </div>
    </div>
  </section>

  <iframe scr="http://54.64.135.175:3000" frameborder="0" scrolling="yes" height=300></iframe>
  {% include 'footer.html' %}
{% endblock %}
