{% load staticfiles %}

<div class="col-xs-10 col-xs-offset-1">
  <div class="col-md-8">
    <div class="card-wrapper">
      <div class="col-xs-12 poster col-middle text-center text-contrast" style="background-image:url('https://a0.muscache.com/ic/pictures/45304646/4ecbfaef_original.jpg?interpolation=lanczos-none&output-format=jpg&output-quality=70&size=large_cover&downsize=655px:326px&v=3'); ">
        <div class="col-12 col-middle text-center text-contrast">
          <div class="h2 strong">뉴욕</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <p>123</p>
  </div>
</div>
